* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato' ,sans-serif;
    background-color: #eee;
}

.container {
    width: 300px;
    font-size: 1.2em;
    margin: 50px auto;
    border-radius: 10px;
    cursor: pointer;
    background: pink;
    overflow: hidden; 
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.5);  
}

 .box {
    padding:15px 25px;
}

.box1 {
    background: #7986CB;
}

.box2 {
    background: #FF8A65;
}

.box3 {
    background: #F06292;
}

.box4 {
    background: #4DB6AC;
}

/* .context {
    height: 100%;
    background: pink;
} */

